.about .aboutItem {
  display: flex;
  /* width: 100%; */
}
.about .aboutContent {
  flex: 4;
  text-align: center;
}
.about .topSection {
  display: flex;
  width: 90%;
  margin: 30px auto;
  align-items: center;
  justify-content: space-between;
}
.about .update {
  font-size: 2rem;
  color: crimson;
  cursor: pointer;
}
.about .delete {
  color: crimson;
  cursor: pointer;
}
.about .middleSection {
  width: 60%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.aboutImage {
  width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
.about .settings {
  width: 80px;
  height: 80px;
  cursor: pointer;
}
.aboutForm {
  display: flex;
  align-items: left;
  justify-content: space-between;
  flex-direction: column;
  height: 350px;
}
.about .formItem {
  text-align: left;
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 180px;
  width: 400px;
}
.about .formItem > label {
  margin-bottom: 15px;
  font-size: 1.2rem;
}
.formItem > input {
  height: 40px;
}
.aboutItem button {
  width: 100px;
  height: 50px;
  color: white;
  background-color: green;
  border-radius: 5px;
  margin: auto;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}
.about .sidebar {
  flex: 1;
}
