.blog {
  margin: 0;
}
.top {
  margin-bottom: 0px;
}
.blogBody {
  display: flex;
  flex-direction: row-reverse;
}
.sidebar {
  flex: 1;
}
.blogPageItem {
  flex: 4;
  margin-left: 20px;
  text-align: center;
}
.blogPageItem img {
  width: 100%;
  height: 400px;
}
.blogPageItem p {
  text-align: left;
}
.info {
  margin: auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(221, 133, 17);
}
