.blogItem {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blogItem a {
  text-decoration: none;
  color: black;
}
.blogItem h1 {
  cursor: pointer;
  font-size: 2rem;
}
.imageTitle {
  margin-top: 20px;
}
.blogItem span {
  color: rgb(236, 141, 24);
}
.blogItem p {
  width: 400px;
}
.blogImage {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
