.header {
  width: 100%;
}
.headerText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "segoe UI";
}
.bgText {
  font-size: 1.5rem;
  position: absolute;
  top: 60px;
}
.smText {
  position: absolute;
  font-size: 5rem;
  top: 80px;
}
.headerImage {
  width: 100%;
  height: 450px;
  object-fit: cover;
  margin-top: 80px;
}
