.writeItem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.writerTool {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
}
.writerTool input {
  width: 800px;
  height: 50px;
  border-radius: 10px;
  border: none;
  border: 1px solid grey;
  font-size: 2rem;
}
.publish {
  width: 80px;
  height: 40px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.circle {
  width: 80px !important;
  height: 80px !important;
  cursor: pointer;
}
.writeImage {
  width: 90%;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
}
.writeText {
  width: 800px;
  height: 300px;
  font-size: 1.2rem;
}
